body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.container{
  margin: 0 auto;
  min-width: 860px;
  max-width: 1146px;
  padding-left: 1.735%;
  padding-right: 1.735%;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  background: linear-gradient(to bottom, #f26843 , #e74a35 );
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o--transition: background 0.1s linear;
  transition: background 0.1s linear;
  border: none;
  box-shadow: 0 2px 3px #9d4435;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(to top , #ec6f5e, #ea7767);
}

.hidden-btn {
  background: linear-gradient(to top , #e74b36, #f26843);
  padding: 5px 10px 10px 10px;
  border-radius: 15px;
  margin-top: 10px;
  display: inline-block;
  width: 17.6 %;
  display: none;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/slider.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url(../img/slider2.png);
}

.site-wrapper:after {
  background-image: url(../img/slider3.png);
}



/*header*/
.main-header {
  font-family: "Roboto";
  font-weight: 500;
  padding-top: 10px;
}
.logo {
  float: left;
  width: 20%;
}

.navigation {
  float: left;
  width: 45%;
  margin-top: 10px;
  margin-left: 1%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-item {
  font-size: 16px;
  display: inline-block;
  line-height: 18px;
  font-weight: 600;
  position: relative;
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o--transition: background 0.1s linear;
  transition: background 0.1s linear;
  }

.main-item:hover {
  background: #f7f6f3;
  color: #000000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.main-navigation a {
  display: block;
  color: #fff;
  text-decoration: none;
  border-bottom:1px solid #9db1a5;
  margin: 0;
  padding: 0;
} 

.main-item:hover > a{
  color: #000000;
  border-bottom: none
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  background:#f7f6f3;
  position: absolute;
  display:none;
  border-radius: 5px;
  box-shadow: 0 10px 15px #58665e;
  top: 45px;
  left: -8px;
}

.first-item a {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown li:last-child a{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown-menu-item a{
  display: block;
  border-bottom: none;
  color: #323232;
  text-decoration: none;
  padding: 10px 21px 10px 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.dropdown-menu-item {
  white-space: nowrap;
}

.first-item a  {
  width: 60%;
  margin: 0 auto;
  border-bottom : 1px solid #d1d0ce;
}

.dropdown-menu-item a:hover {
  background-color: #fbded7;
  color: #000000;
}

.nav-item-dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-item-dropdown:hover::after {
   content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 30px;
  left: 5px;
  opacity: 0;
  bottom: -15px;
  background-color: #939393;
  }


.user-block {
  margin-top: 10px;
  float: right;
}

.header-bottom {
  clear: both;
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.search {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: rgba(255, 255, 255, 0.2);
  transition: background-image 0.1s linear;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding: 8px;
  border-radius: 50%;
  background-image: url(../img/spritesheet.png);
  background-position: -474px 3px;
  background-repeat: no-repeat;
}

.search:hover{
  background: #f8f7f4;  
  background-image: url(../img/spritesheet.png);
  background-position: -501px 3px;
  background-repeat: no-repeat;
}

.search:hover::after {
content: '';
display: block;
position: absolute;
width: 40px;
height: 30px;
left: -6px;
opacity: 0; 
bottom: -15px;
background-color: #939393;
  }

.search form{
  display: none;
  position: absolute;
  color: #999;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 15px solid #f8f7f4;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.35);
  top: 36px;
  left: -307px;

}

.search:hover form {
  display: block;
  z-index: 100;
}

.search input{
  box-sizing: border-box;
  min-width: 310px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  font-size: 14px;
  line-height: 24px;
  padding: 15px 15px;
}

.search-form:hover {
  border: 2px solid #c7c6c5;
  border-radius: 5px;
  padding: 14px 14px;
}

.search-form:focus {
  border: 2px solid #8fbdec;
  border-radius: 5px;
  padding: 14px 14px;
}

.user-input:hover > form[name="user-input"] {
  display: block;
  z-index: 100;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
  margin-left: 10px;  
}

.login::before {
  content: ''; 
  display: block;
  position: absolute;
  width: 20px;
  height: 19px;
  top: 6px;
  left: 12px;
  background-image: url(../img/spritesheet.png);
  background-position: -155px -5px;
  background-repeat: no-repeat;
}

.login:hover::before {
  background-image: url(../img/spritesheet.png);
  background-position: -185px -5px;
  background-repeat: no-repeat;
}

.login > a {
  display: block;
  color:#fff;
  padding: 5px 16px;
  padding-left: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-size: 14px;
  text-decoration: none;
}

.login:hover  a {
  background-color: #f8f7f4;
  color: #323232;
  font-weight: 500;
}

.login:hover::after {
content: '';
display: block;
position: absolute;
width: 100px;
height: 30px;
left: -2px;
opacity: 0;
bottom: -15px;
background-color: #939393;
}

.login form {
  display: none;
  position: absolute;
  width: 277px;
  padding: 19px;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.35);
  top: 36px;
  left: -180px;
  box-sizing: border-box;
  text-align: left;
  z-index: 10;
}

.login:hover > form[name="login-form"] {
  display: block;
  z-index: 100;
}

.login input {
  box-sizing: border-box;
  width: 240px;
  margin-bottom: 20px;
  outline: none;
  min-width: 241px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  padding: 15px 15px;
}

.account-btn{
  float: left;
  color: #ffffff;
  background: linear-gradient(to top , #e74b36, #f26843);
  padding: 11px 15px 11px 15px;
  margin-right: 20px;
  border-radius: 25px;
  display: block;
  min-width: 100px;
}

form[name="login-form"] a {
  font-size: 13px;
  color: #333;
}

form[name="login-form"] a:hover {
  color: #ec593c;
}

.login input[type=password]:hover {
  border: 2px solid #c7c6c5;
  border-radius: 5px;
  padding: 14px 14px;
}

.login input[type=text]:hover {
  border: 2px solid #c7c6c5;
  border-radius: 5px;
  padding: 14px 14px;
}

.login-focus:focus {
  border: 2px solid #8fbdec;
  border-radius: 5px;
  padding: 14px 14px;
}

.basket{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;

}
.basket a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 15px;
  position: relative;
}

.basket a::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 21px;
  height: 20px;
  background: url(../img/basket.png);
}

.basket a:hover::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 21px;
  height: 20px;
  background: url(../img/basket-hover.png);
}

.basket a:hover{
  background: #ffffff;
  color: #000000;
}

.icon-basket-full a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 40px;
  border-radius: 25px;
  position: relative;
}

.icon-basket-full a::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 21px;
  height: 20px;
  background: url(../img/basket-full.png);
}

.icon-basket-full a:hover::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 21px;
  height: 20px;
  background: url(../img/basket-full.png);
}

.basket .shopping_cart{
  position: absolute;
  width: 540px;
  color: #000000;
  background: #f8f7f4;
  display: none;
  box-shadow: 0 10px 15px #58665e;
  border-radius: 10px;
  right: 5%;
  top: 80px;
  padding: 10px 15px;
}

.basket:hover .shopping_cart {
  display: block;
  z-index: 100;
}


.shopping_cart table td:nth-child(3n) {
  width: 45%;
}

.shopping_cart table{
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  border-spacing: 0;
  border-bottom: 1px solid #cacac7;
}

.shopping_cart span {
  color: #b5b5b4;
}

.shopping_cart td {
  vertical-align: middle;
  padding: 10px 10px;
}

.shopping_cart tr:last-child {
  border-bottom: 1px solid #000000;
}

.shopping_cart .hidden-bottom {
  width: 35%;
  float:right;
}

.hidden-bottom p{
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  float: right;
}
.shopping_cart .btn .order{
  width: 170px;
  display: block;
}
.information {
  float: right;
  width: 50;
}
.information span{
  display:block;
}
.information span:first-child {
  text-align: right;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}
.information .phone {
  font-size: 22px;
  font-weight: 600;
}

/*filter*/
.option-form fieldset {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0;
}
.range-filter {
  width: 220px;
  vertical-align: top;
  margin-right: 15px;
  }

.range-controls {
  position: relative;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  height: 4px;
  width: 55%;
  margin-left: 30px;
  background-color: #f8f7f4;
}
.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

.range-controls .toggle-min {
  left: 34px;
}
.range-controls .toggle-max {
  left: 133px;
}

.price-controls {
  font-size: 0;
  line-height: 0;
  padding-left: 15px;
  margin-bottom: 5px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  width: 43%;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  width: 50px;
  height:14px;
  border: none;
  outline: none;
  background: #849d8f;
  text-align: center;
  color: #ffffff;
}
.price-controls .max-price input{
  margin-left: 5px;
}

.sorting-style {
  display: inline-block;
  vertical-align: top;
  width: 193px;
  margin-right: 15px;
}
.sorting-style select {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
}

.sorting-style select:hover {
  color: #000000;
  background-color: #f8f7f4;
}
.sorting-style label {
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
}

.sorting-style option {
  font-size: 16px;
}

.fat {
  display: inline-block;
  width: 415px;
  vertical-align: top;
}

.fat legend, .topping legend {
  padding-left: 15px;
}
.fat .fat-content {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding-left: 15px;
  border: none;
  outline: none;
  margin-top: 5px;
  padding-top: 6px;
  box-sizing: border-box;
}

.fat-content input[type="radio"] {
  display: none;
}

.fat-content input[type="radio"] + label {
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  padding-left: 30px;
  margin-right: 14px;
  vertical-align: middle;
  position: relative;

}

.fat-content input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  left: 0;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -275px;
  position: absolute;
}

.fat-content input[type="radio"]:hover + label::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 22px;
  left: 0;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -243px;
  position: absolute;
}

.fat-content input[type="radio"]:checked + label::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 22px;
  left: 0;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -307px;
  position: absolute;
}

#checkbox input[type="checkbox"] {
  display: none;
}

.topping-content input[type="checkbox"] + label {
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  padding-left: 35px;
  margin-right: 14px;
  position: relative;}

.topping {
  margin-top: 17px;
  width: 702px;
}

.topping-content {
  width: 702px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  padding-left: 15px;
  padding-top: 7px;
  border: none;
  outline: none;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  display:none; }

.topping-content input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 0;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -125px;
  position: absolute;
}

.topping-content input[type="checkbox"]:checked + label::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 0;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -155px;
  position: absolute;
}

.topping-content input[type="checkbox"]:hover + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 0;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -95px;
  position: absolute;
}

/*slider*/
.slider {
  position: relative;
  padding-top: 500px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}
.slide-title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 31px;
  line-height: 41px;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  padding: 12px 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 , #e74a35 );
  border: none;
  box-shadow: 0 2px 3px #9d4435;
}

.slide-btn:hover {
  background: linear-gradient(to top , #ec6f5e, #ec6f5e);
}

.slide-btn:active {
  background: linear-gradient(to top , #f26843, #e74b36);
  box-shadow: inset 0 2px 3px #9d4435;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: none;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider.png);
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider2.png);
  }

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider3.png);
  }



/*---*/
.breadcrumbs{
  float: left;
  margin-top: 40px;
  vertical-align: bottom;
}

.breadcrumbs a{
  display: block;
  padding: 5px 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #aebeb5;
}

.breadcrumbs a:hover{
  display: block;
  padding: 5px 0;
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid #ffbc9e;
}

.breadcrumbs ul{
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.breadcrumbs li{
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.breadcrumbs li:nth-child(2n){
  margin-top: 5px;
}
/*body*/

.slider h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: white;
}

.promo-block h2 {
  margin: 0px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.promo-row{
  width: 100%;
  margin-bottom: 40px;
}

.promo-block {
  box-sizing: content-box;
  width: 45%;
  padding: 2% 2%;
}


.promo-block-raspberries{
  background: url(../img/rasberry-bg.png) no-repeat;
  border-radius: 20px;
  float: left;
  margin-right: 1%;
}

.promo-block-choko {
  background: url(../img/chokolate-bg.png) no-repeat;
  border-radius: 20px;
  float: right;
}

.block-choko,
.block-raspberries {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 18px;
  line-height: 24px;
  float: right;
  margin-bottom: 0;

}

.promo-block p{
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: 600;
}

.product-wrapper {
  width: 100%;
  margin: 20px auto;
  padding: 0;
}

.product-item {
  display: inline-block;
  margin-right: 2%;
  width: 23.1%;
  text-align: center;
  position: relative;
  vertical-align: top;
  margin-bottom: 20px;
  font-size: 16px;
}

.product-item:hover .product {
  z-index: 2;
}

.product-item:hover .name-ice {
  z-index: 2;
}

.product-item:hover .hidden {
  display: block;
  z-index: 2;
}

.product-item:hover:after {
  display: block;
}

.product img {
  max-width: 100%;
  height: auto;
}


.product-item:nth-child(4n) {
  margin-right: 0;
}

.product {
  position: relative;
  text-align: left;
}

.product-item-catalog:before {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 1;
}


.product-item-catalog:after {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -82px;
  z-index: 1;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.product:before {
  content: '';
  width: 61px;
  height: 61px;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  background-image: url(../img/hit.png);
}

.product .price {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

}

.price p{
  margin: 0;
  text-shadow: 0 2px 2px #666666;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  vertical-align: middle;

}

.price span {
  font-size: 30px;
  line-height: 45px;
}

.name-ice {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
  text-align: center;
  text-decoration: none;

}

.name-ice:hover{
  border-color: rgba(255, 188, 158, 0.2);
  color: #ffbc9e;
}

.hidden {
  position: absolute;
  bottom: -82px;
  left: -6px;
  right: -6px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
  display: none;
}

.paginator ul{
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.paginator li{
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}

.paginator li:first-child {
  position: relative;
  padding-left: 20px;
}

.paginator li:first-child::before{
  content: "";
  width: 8px;
  height: 14px;
  top: 6px;
  left:2px;
  position: absolute;
  background: url(../img/_.png);
}

.paginator a{
  display: block;
  padding: 5px 10px;
}

.paginator a:hover{
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
}

.paginator a:active{
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
}

.paginator li:last-child {
  position: relative;
  padding-right: 20px;
}
.paginator .page-next::after{
  content: "";
  width: 8px;
  height: 14px;
  top: 6px;
  left:2px;
  position: absolute;
  background: url(../img/_-.png);
}

.line {
  color: #a9bbb1;
  opacity: 0.3;
  margin: 30px 0 20px 0;
}

.about {
  background: url(../img/wafer.jpg);
  margin: 0px auto;
  margin-bottom: 40px;
  padding: 2% 2%;
  border-radius: 20px;
  }

.about-content {
  margin: 0 auto;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.about-content h1{
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #323232;
  margin: 0;
  margin-bottom: 20px;
}
.about-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.about-content li {
  display: inline-block;
  position: relative;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 15px;
  }
.about-content p {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin: 0;
}
.about li:first-child {
  padding-top: 5px;
  padding-left: 5%;
  margin-right: 15px;
}
.about li:first-child::before{
  content: "";
  width: 47px;
  height: 47px;
  position: absolute;
  top: -10px;
  left: 0px;
  background-image: url(../img/ice.png);
  }
.about li:nth-child(2) {
  padding-top: 5px;
  padding-left: 5%;
}
.about li:nth-child(2)::before{
  content: "";
  width: 47px;
  height: 47px;
  position: absolute;
  top: -10px;
  left:0px;
  background-image: url(../img/cow.png);
  }
.about li:nth-child(3) {
  padding-top: 5px;
  padding-left: 5%;
  margin-bottom: 0;
  margin-right: 15px;
}

.about li:nth-child(3)::before{
  content: "";
  width: 47px;
  height: 47px;
  position: absolute;
  top: -10px;
  left: 0px;
  background-image: url(../img/leaf.png);
  }

.about li:last-child {
  padding-top: 5px;
  padding-left: 6%;
  margin-bottom: 0;

}
.about li:last-child::before{
  content: "";
  width: 47px;
  height: 47px;
  position: absolute;
  top: -10px;
  left: 0px;
  background-image: url(../img/thermometer.png);
  }

news {
  width: 100%;
}

.news-blog {
  background: url(../img/blog-bg.png) no-repeat;
  background-position: 20% 40%;
  border-radius: 20px;
  float: left;
  width: 47.5%;
  margin-right: 1%;
  padding-top: 2.5%;
  padding-left: 0.8%;
  padding-right: 0.8%;
  min-height: 220px;
  box-sizing: border-box;
}

.news h2 {
  display: block;
  margin-top: 0;
  margin-left: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.news a{
  display: block;
  margin-bottom: 5%;
  margin-left: 10px;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  line-height: 30px;
  width: 55%;
}

.mailing {
  background: #f8f7f4;
  background-image: url(../img/pattern.png);
  float: right;
  width: 47.5%;
  padding: 5px;
  min-height: 220px;
  border-radius: 20px;
  box-sizing: border-box;
}

.mailing form{
  background: #f8f7f4;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 8%;
  border-radius: 20px;
}

.mailing p{
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  display: block;
  margin: 0;
  padding-bottom: 6%;
}

.input-wrapper {
  margin-right: 140px;
}
.mailing input[type="text"]{
  outline: none;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 9px;
  width: 100%;
}

.newsletter-btn {
	font-size: 17px;
	font-weight: normal;
	padding:10px 22px;
	float: right;
}

.box-feedback {
  position: absolute;
  left: 35%;
  top: 40%;
  background-color: #f8f7f4;
  width: 480px;
  height: 447px;
  border-radius: 20px;
  padding: 20px 20px;
  display: none;
}

.box-feedback p {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}
.box-feedback input[type=text]:first-child {
  position: relative;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 14px;
  margin: 20px 20px;
  width: 50%;

}

.box-feedback input[type=text] {
  position: relative;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 14px;
  margin: 20px 20px;
  width: 50%;

}

.box-feedback input[type=text]:last-child {
  position: relative;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 14px;
  margin: 20px 20px;
  width: 90%;
  height: 40%;

}
.box-feedback input[type=submit]{
  background: linear-gradient(to top , #e74b36, #f26843);
  padding: 5px 15px 10px 15px;
  border-radius: 15px;
  display: inline-block;
  width: 17.6 %;
  box-shadow: 0 2px 3px #9d4435;
  float:right;

}

.map-content {
	margin: 0 auto;
	height: 430px;
	background-color: #efecde;
	background-image: url(../img/bg-map.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.map-wrapper .content-wrapper {
  position: relative;
}


.address {
	position: relative;
	float: right;
	top: 66px;
	width: 302px;
	height: 304px;
	background-color: #fff;
	border-radius: 12px;
	color: #343434;
	font-size: 14px;
	line-height: 20px;
	padding: 25px;
	box-sizing: border-box;
	z-index: 10;
}

.address .contact {
	font-size: 18px;
	line-height: 24px;
}

.address p {
	margin-top: 5px;
	margin-bottom: 18px;
}

p.contact-phone {
	margin-bottom: 25px;
}

.contact-phone .contact {
	line-height: 22px;
}

/*footer*/
.main-footer {
  margin: 0 auto;
  min-width: 860px;
  max-width: 1146px;
  padding-left: 1.735%;
  padding-right: 1.735%;
  padding-top: 20px;

}

.footer-social {
  float: left;
  width: 20%;
}

.footer-info {
	width: 340px;
	float: left;
	font-size: 0;
   margin-left: 7%;
   margin-right: 3%;
}

.footer-info ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

.footer-info li {
	display: inline-block;
	vertical-align: top;
	padding-left: 22px;
	font-size: 13px;
	font-weight: normal;
	text-align: right;
	line-height: 22px;
	margin-right: 9px;
}

.footer-info li:first-child {
	background-image: url(../img/icons/icon-heart.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	font-weight: bold;
}

.footer-info li:last-child {
	padding-left: 35px;
}

.footer-info a {
   padding: 0;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-info a:hover {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.4);
}

.footer-info a:active {
	color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.4);
}

.footer-info a:first-child {
  float: left;
}


.footer-info a.provider  {
  font-weight: 500;
  display: block;
  float: left;
  position: relative;
}

.footer-info a.provider:before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: -20px;
  background-image: url(../img/heart.png);
}

.footer-info a.info:hover {
  display: block;
  color: #ffbc9e;
  padding: 0;
}



.footer-copyright {
  float: right;
}

.footer-copyright p {
  margin: 0;
}

.adress-html {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-copyright img {


}
.social-btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-size: cover;
  opacity: 0.8;
}

.social-btn:hover {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  opacity: 1;
  box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn .social-btn-twitter {
  background-image: url(../img/spritesheet.png);
  background-position: -595px -5px;
  background-repeat: no-repeat;
}

.social-btn-inst {
  background-image: url(../img/insta.png);
}

.social-btn-fb {
  background-image: url(../img/fb.png);
}

.social-btn-vk {
  background-image: url(../img/vk.png);
}

