body {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  color:white;
  line-height: 1.3em;
  font-weight: normal;
}

.slider h1 {
  font-size: 60px;
  font-weight: bold;
}

.about h1 {
  font-size: 24px;
  font-family: "Roboto-Medium", sans-serif;
  color: #323232;
  font-weight: bold;
  line-height: 1.2em;
}

.promo-row h2 {
  font-size: 35px;
  line-height: 1.1em;
  color: #ffffff;
  font-weight: bold;
}

.news-blog h2 {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: normal;
}
