body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color:white;
  background-color: #849d8f;
}
/*header*/
.logo {
  float: left;
  width: 153px;
}

.main-navigation {
  float: left;
  width: 560px; /*??*/
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation li>a{
  color: #ffffff;
}

.main-navigation li {
  display: inline;
}

.dropdown {
  display:none;
}

.user-block {
  float: right;
  width: 560px;
}

.header-bottom {
  clear: both;
  float: right;
}

a {
  text-decoration: none;
}
/*body*/
.container{
  clear: both;
}

.slider h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.about h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
}

.promo-row h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.news-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: white;

}

.slider {
  background-image: url(/img/slider.png)  /*-узнать про слайдер*/
}

.promo-block-raspberries{
  background-image: url(/img/raspberry-banner.png) no-repeat;
  width: 560px;
  float: left;

}

.promo-block-choko {
  background-image: url(/img/chocolate-banner.png) no-repeat;
  width: 560px;
  float: right;
}

.product-wrapper {
  clear: both;
  margin-right: auto;
  margin-left: auto;
}

.product-item {
  float: left;
  width: 267px;
}

.product-item:last-child {
  float:right;
  width: 267px;
}

.about {
  background-image: url(/img/wafer.jpg);
  clear: both;
}

.news-blog {
  background: url(/img/blog-background.png) no-repeat;
  float: left;
  width: 560px;
}

.mailing {
  background: url(/img/post-dispatch.png) no-repeat;
  float: right;
  width: 560px;
}

.map {
  clear: both;
}

