body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color:white;
  background-color: #849d8f;
}
/*header*/
.logo {
  float: left;
  width: 20%px;
}

.main-navigation  {
  float: left;
  width: 50%px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: inline-block;
}

.main-navigation li>a{
  color: #ffffff;
}

.main-navigation li {
  display: inline;
}

.main-navigation .dropdown {
  display:none;
}

.user-block {
  float: right;
  width: 30%;
}

.header-bottom {
  clear: both;
  float: right;
}

a {
  color: #ffffff;
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*body*/
.container{
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.slider h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.about h1 {
  font-family: "Roboto Medium", "Tahoma";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
  margin: 0px;
}

.promo-row h2 {
  margin: 0px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;

}

.news-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: white;

}

.slider {
  background-image: url(/img/slider.png)  /*-узнать про слайдер*/
}

.promo-row{
  width: 100%;
}


.promo-block {
  padding: 15px;
  width: 47%;
  height: 100%;
}

.promo-block-raspberries{
  background: url(/img/raspberry-banner.png) no-repeat;
  float: left;
}

.promo-block-choko {
  background: url(/img/chocolate-banner.png) no-repeat;
  float: right;
}

.product-wrapper {
  margin: 0 auto;
}

.product-item {
  float: left;
  width: 25%;
}

.product-item:last-child {
  float:right;
  width: 25%;
}

.about {
  margin: 0 auto;
  background: url(/img/wafer.png) no-repeat;
  height: auto;
}
.about-content {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

.news-blog {
  background: url(/img/blog-background.png) no-repeat;
  float: left;
  width: 50%;
}

.mailing {
  background: url(/img/post-dispatch.png) no-repeat;
  float: right;
  width: 50%;
}

/*footer*/
.footer-social {
  float: left;
  width: 20%;
}
.footer-info {
  float:left;
  width: 40%;
}

.footer-info a{
  border-bottom: 1px solid #ffffff;
}

.footer-copyright {
  width: 40%;
  float: right;
}
